.projects {
  margin-bottom: 4rem;
}

.portfolio__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.2rem;
  gap: 2rem;
  transition: 0.3s;
}

.portfolio__item h3 {
  margin: 0.2rem;
  font-size: 1.7rem;
}

.portfolio__item-image {
  overflow: hidden;
  border-radius: 0.2rem;
}

.portfolio__image {
  width: 100%;
  object-fit: contain;
}

.portfolio_item-details {
  padding: 0 1rem 1rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio__icon {
  color: #b3b3b3;
  font-size: 2rem;
}

.portfolio__icon:hover {
  transform: scale(1.1);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .portfolio__container {
    gap: 1.2rem;
  }

}

/* For medium devices */
@media screen and (max-width: 768px) {
  .portfolio__item {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .portfolio_item-details {
    padding: 0;
  }
}

