.home__content {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2-5);
}

.github,
.linkedin,
.twitter {
  font-size: 1.25rem;
}

.github:hover {
  color: #171515;
}

.linkedin:hover {
  color: #0072b1;
}
.twitter:hover {
  color: #1da1f2;
}

.home__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__titles {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.home__title {
  display: inline-block;
  animation: typing 1s steps(30, end), blink-caret 1s step-end infinite;
  white-space: nowrap;
  border-right: 3px solid;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.home__hand {
  width: 25px;
  height: 25px;
  margin-left: 0.4rem;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__description {
  max-width: 640px;
  margin-bottom: var(--mb-3);
}

.home__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.home__scroll {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-2-5);
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #666666;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 120px 1fr;
    column-gap: 1.25rem;
  }

  .home__description {
    max-width: 500px;
    margin-bottom: var(--mb-2-5);
  }

  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(225 225 225 / 30%);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__content {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    margin: 0 auto;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__social {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: var(--mb-3);
  }

  .home__scroll {
    display: none;
  }
}
